body {
  color: #121212;
  font-size: 0.9rem;
  line-height: 1.7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.site-title {
  line-height: 1px;
}

.sec-title {
  font-size: 41px;
  margin-bottom: 30px;
  text-align: center;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

/* header */

#header {
  width: 100%;
  position: fixed;
  display: flex;
  padding: 20px 40px;
  z-index: 10;
  background-color: #fff;
}


nav {
  display: block;
  position: fixed;
  padding: 60px 25px;
  background-color: #121212;
  width: 300px;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  opacity: 0;
  left: -300px;
  transition:all .5s;
  z-index: 20;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav .nav-menu {
  border-top: solid 1px #fff;
  margin-bottom: 60px;
}
nav .nav-menu li {
  padding: 20px 0;
border-bottom: solid 1px #fff;
}

nav a {
  color: #fff;
}

nav .nav-sns  li{
  padding: 5px 0;
}

.toggle_btn{
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  height: 30px;
  z-index: 20;
  cursor: pointer;
}

.toggle_btn span{
  background-color: #333;
  width: 30px;
  height: 2px;
  position: absolute;
  transition:all .5s;
}

.open .toggle_btn span {
  background-color: #fff;
}

.toggle_btn span:nth-child(1){
  top: 4px;
}

.toggle_btn span:nth-child(2){
  top: 14px;
}

.toggle_btn span:nth-child(3){
  bottom: 4px;
}

.open .toggle_btn span:nth-child(1) {
  transform: translateY(10px) rotate(315deg);
}
 
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
 
.open .toggle_btn span:nth-child(3) {
  transform: translateY(-10px) rotate(-315deg);
}
 
.mask {
  display: none;
  transition: all .5s;
}

.open .mask {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000;
  opacity: .8;
  transition: all .5s;
  top: 0;
  left: 0;
}

/* video */

video {
  width: 100%;
}

/* pickup */

#pickup {
  width: 100%;
  padding: 100px 0 50px 0;
}

#pickup .slick-area li {
  padding: 0 15px;
}

.slick-prev.slick-prev {
  display: none;
}

/* feature */



#feature {
  max-width: 1240px;
  padding: 100px 16px 50px 16px;
  margin: -50px auto 10px auto;
}

#feature .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 26px;
}

#feature .grid .item {
  box-shadow: 0 0 8px 4px #ccc;
  transition: all .3s;
}

#feature .grid img {
  vertical-align: top;
}

#feature .grid .item-content {
  padding: 30px;
}

#feature .grid .item-cat {
  font-size: 14px;
  margin-bottom: 20px;
}

#feature .grid .item-text {
  font-weight: bold;
  margin-bottom: 20px;
}

#feature .grid .item-date {
 font-size: 14px;
 text-align: right; 
}



/* contact */

#contact {
  background-color: #121212;
  color: #fff;
  padding: 50px;
}

#contact .content {
  max-width: 1240px;
  display: flex;
  margin: 0 auto;
  padding: 0 16px;
  justify-content: space-between;
}

#contact .contact-info {
  width: 45%;
}

#contact .contact-info p {
  margin-bottom: 30px;
}

#contact .contact-form {
  width: 45%;
}

#contact .contact-form input, #contact .contact-form textarea {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

#contact .contact-form .button input {
  width: 200px;
  color: #fff;
  background-color: #121212;
  border: solid 1px #fff;
}

#contact .contact-form .button input:hover {
  color: #121212;
  background-color: #fff;
}

/* footer */

#footer {
  background-color: #121212;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

/* SP */
@media screen and (max-width:600px) {
  /* header */
  #header {
    padding: 20px 16px;
  }

  /* video */
  #bg-video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  /* feature */
  #feature {
    padding: 80px 16px;
  }

  #feature .grid .item-content {
    padding: 16px;
  }

  /* contact */

  #contact {
    padding: 80px 0;
  }

  #contact .content {
    flex-direction: column;
  }

  #contact .contact-info,
  #contact .contact-form {
    width: 100%;
  }

  #contact .contact-form .button input {
    width: 100%;
  }
}
